/* -------------------- CSSは一番下から書き始めてください！ -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}


/* -------------------- CSSはここから追加していきましょう！ -------------------- */



.header-in p {
  margin: 0px;
  display: inline-block;
}

header img {
  vertical-align: bottom;
}

header {
  height: 70px;
}

.header-in {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 15px 50px;
  z-index: 10;
}

.divider {
  height:1000px;
  background-color: blue;
}

.btn {
  width: 318px;
  height: 44px;
  border: 1px solid #db6b64;
  background-color: #db6b64;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  float: right;
  margin-right: 70px;
}

.btn a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  /*ボタン全体をボタンにする */
  display: block;
  height: 100%;
  /*---*/
  padding-top: 10px;
}

.btn:hover{
  background-color: #d94940;
}

/*----------ここからファーストビュー-------------*/

p,h1,h2 {
  text-align: center;
  margin: 0;
}

.txtl {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.txtm {
  font-size: 20px;
  margin-bottom: 10px;
}

.isaratop {
  display: block;
  background-image: url(images/main.jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
}

.isaratop h1 {
  padding-top: 80px;
  line-height: 50px;
}

.isaratop p {
  font-weight: 600;
  margin-top: 30px;
}

.ask {
  background-color: #ebb94d;
  height: 600px;
  color: #fff;
  margin-bottom: 50px;
}

.ask .txtm {
  padding-top: 40px;
}

.ask-point {
  background: #f9f2f4;
  border-radius: 3px;
  color: #c7264e;
  width: 420px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 600;
}

.btn2 {
  width: 80%;
  height: 104px;
  border: 1px solid #db6b64;
  background-color: #db6b64;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.btn2 a{
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  /*ボタン全体をボタンにする */
  display: block;
  height: 100%;
  /*---*/
  line-height: 104px;
  /*line-heightをdivの高さに揃えてあげれば、高さ真ん中表示できる*/
}

.btn2:hover{
  background-color: #d94940;
}

.ask h2 {
  font-size: 21px;
  margin-top: 30px;
}

.sns {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*---------ここからFreedom区間-----------*/

.freedom {
  background-image: url(images/introbottom.jpg);
  background-size: cover;
  height: 560px;
  position: relative;
}

.txtbox {
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  z-index: 9;
}

.txtbox::before, .txtbox::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
}

.txtbox::before {
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
  top: 0;
  left: 0;
}

.txtbox::after {
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
  bottom: 0;
  right: 0;
}

.txtbox .txtl {
  padding: 30px 0 30px 0; 
}

.underline {
  background: linear-gradient(transparent 70%, #ebb94d 50%);
  font-weight: 600;
}

.about-btn {
  color: #fff;
  background-color: #ebb94d;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.about-btn p {
  line-height: 80px;
}

/*------------about--------------*/

.about {
  background: #fdf5e0;
  padding-top: 40px;
  height: 570px
}

.about .txtm {
  font-weight: 600;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: center;
}

.about-box {
  height: 230px;
  margin: 30px;
  padding: 20px;
  padding-bottom: 0;
  border: 2px solid #ebb94d;
  border-radius: 3px;
  background-color: #fff;
}

.picturebox {
  text-align: center;
  width: 155px;
  height: 135px;
}

.picturebox p{
  font-size: 12px;
  margin-top: 10px;
}